<div class="contact-info text-start px-3">
    <p><strong>Email:</strong> your@email.com</p>
    <p><strong>Location:</strong> Your City, Country</p>

    <div class="mt-4">
        <p><strong>Follow me:</strong></p>
        <div class="d-flex gap-3 fs-4">
            <a href="https://github.com/yourprofile" target="_blank"><i class="oi oi-social-github"></i></a>
            <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="oi oi-social-linkedin"></i></a>
            <a href="https://twitter.com/yourprofile" target="_blank"><i class="oi oi-social-twitter"></i></a>
        </div>
    </div>
</div>
