@page "/"
@inject IJSRuntime JS
<PageTitle>Home</PageTitle>

<div id="index" class="hero-container d-flex flex-column align-items-center justify-content-center text-center px-3 ">
    <h1 id="hero-name" class="display-3 fw-bold mb-3 text-walker">AMAR CHADLI</h1>
    <p class="lead mb-4">
        Aspiring .NET Developer with a passion for building modern web applications.<br />
        I turn code into creativity — bringing ideas to life through Blazor, C#, and clean UI.<br />
        <span id="text-highlight" class="text-highlight">Let’s build the future together.</span>
    </p>
    <div class="d-flex gap-3">
        <a href="#projects" class="btn btn-primary btn-lg">See My Work</a>
        <a href="#contact" class="btn btn-outline-light btn-lg">Contact Me</a>
    </div>
</div>


@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        if (firstRender)
        {
            await JS.InvokeVoidAsync("baffleInterop.infiniteScramble", "hero-name");

            await JS.InvokeVoidAsync("baffleInterop.infiniteScramble", "text-highlight");
        }
    }
}